#!/bin/bash

read -p "Channel Version: <enter for latest> " version
command="kubectl kots install ast/beta-1 "
command+="--skip-preflights "
if test -n "$version"; then
  echo "Using version $version"
  command+="--app-version-label $version " 
else 
  echo "Using latest version"
fi
command+="--config-values '${kots_config_file}' " 
command+="--license-file 'license.yml' "
eval $command
